#viewport
  #sidepanel
    sidepanel
    %a#close-sidepanel Close
  #nav
    %ul
      %li
        %a#home H
      %li
        %a#profile P
      %li
        %a#edit E
  #room
    #room-inventory
      inv
    #room-main
      #layout
        main
        #layout_footer
      #footer
        input