%ul#scrabble
  %li 
    %em A
  %li 
    %em N
  %li 
    %em D
  %li 
    %em R
  %li 
    %em E
  %li 
    %em A
  %li 
    %em S
  %li 
    %em 
      %nbsp
  %li 
    %em F
  %li 
    %em O
  %li 
    %em R
  %li 
    %em N
  %li 
    %em E
  %li 
    %em L
  %li 
    %em L
