#main-title 
  Just me playing around with front end stuff

%h1
  Grumpy wizards make toxic brew for the evil Queen and Jack  
Grumpy 
= link_to "wizards", 'www.google.com' 
make toxic brew for the evil Queen and Jack  
